#page-wrapper {
}

#page {
  background: white;
}

/**
 *
 */

#page-title {
  margin-bottom: 1em;
}

#site-name {
  margin: 2em 0;
  a {
    background: url(../images/themerocket-logo.svg) no-repeat top left;
    background-size: auto 120px;
    display: block;
    height: 120px;
    text-indent: -9999em;
    width: 120px;
  }
}

#navigation,
#main-wrapper {
  background: white;
}

#navigation {
  > .section {
    background: $bg;
    position: relative;
    @media (max-width: $breakpoint_desktop - 1) {
      overflow: hidden;
    }
  }
  .block-menu-block {
    > h2 {
      background: url(../images/menu.png) no-repeat right -25px;
      cursor: pointer;
      height: 3em;
      line-height: 3em;
      margin: 0 -10px;
      padding: 0 10px;
      &:hover {
        background-color: adjust-lightness($bg, -10%);
        background-position: right 25px;
      }
      @media (min-width: $breakpoint_desktop) {
        @include hidden;
      }
    }
    > .content {
      @media (max-width: $breakpoint_desktop - 1) {
        margin: 0 -10px;
        //@include single-transition(height, 0.3s, false, ease);
      }
    }
    &.closed {
      > .content {
        @media (max-width: $breakpoint_desktop - 1) {
          @include hidden;
        }
      }
    }
  }
}

nav.menu-name-main-menu > ul {
  @include vertical-menu;
  a {
    border-top: 1px solid adjust-lightness($bg, 6%);
    font-size: 18px;
    height: 3em;
    line-height: 3em;
    padding: 0 10px;
    @include single-transition(background-color, 0.3s, false, ease);
    &:hover,
    &:focus {
      background: adjust-lightness($bg, -10%);
      color: white;
      font-weight: 700;
    }
  }
  .nolink {
    cursor: default;
  }
  .expand-trigger {
    display: none;
  }
  @media (max-width: $breakpoint_desktop - 1) {
    > li {
      &.expanded {
        position: relative;
        > a {
          padding-right: 50px;
        }
        > .menu {
          //@include single-transition(height, 0.3s, false, ease);
          overflow: hidden;
          a {
            font-size: 16px;
            height: 2.4em;
            line-height: 2.4em;
            padding: 0 20px;
          }
        }
        .expand-trigger {
          background: url(../images/menu.png) no-repeat center -175px;
          border-left: 1px solid adjust-lightness($bg, 6%);
          display: block;
          font-size: 18px;
          height: 3em;
          line-height: 3em;
          margin: 0;
          padding: 0;
          position: absolute;
          right: 0;
          text-indent: -9999em;
          top: 0;
          width: 62px;
          &:hover {
            background-color: adjust-lightness($bg, -10%);
            background-position: center -225px;
          }
        }
        &.closed {
          > .menu {
            @include hidden;
          }
          .expand-trigger {
            background-position: center -75px;
            &:hover {
              background-position: center -125px;
            }
          }
        }
      }
    }
  }
  @media (min-width: $breakpoint-desktop) {
    @include horizontal-menu;
    > li {
      > a {
        border-top: none;
        margin: 0;
        padding: 0 1em;
        &.active-trail {
          background: adjust-lightness($bg, -10%);
          color: white;
          font-weight: 700;
        }
      }
    }
    .expand-trigger {
      display: none;
    }
  }
}

#footer {
  > .section {
    background: $bg;
    padding: 20px 10px;
  }
}

.view-content {
  > .item-list {
    > ul {
      padding: 0;
    }
  }
}

/**
 * pager
 */
.item-list .pager {
  list-style: none;
  margin: 20px 0;
  padding: 0 0 20px 0;
  text-align: center;
  li {
    display: inline-block;
    margin: 0 0.25em;
    padding: 0;
    &.pager-current {
      padding: 2px;
    }
  }
  a {
    padding: 2px;
    text-decoration: none;
  }
  .pager-first,
  .pager-previous,
  .pager-next,
  .pager-last {
    a {
      @include button-link;
      //background: url(../images/pager_arrows.png) no-repeat;
      padding: 2px;
      //text-indent: -9999em;
      //vertical-align: -1px;
      //width: 9px;
    }
  }
  .pager-first {
    a {
      //background-position: 2px center;
      //width: 13px;
    }
  }
  .pager-previous {
    a {
      //background-position: -12px center;
    }
  }
  .pager-next {
    a {
      //background-position: -22px center;
    }
  }
  .pager-last  {
    a {
      //background-position: -32px center;
      //width: 13px;
    }
  }
}
