#page-wrapper {
  background: $site-bg;
}

#page {
}

#header,
#navigation {
  background: $header-bg;
}
#navigation {
  .section {
    background: $site-bg;
  }
}

#content {
  .section {
    background: $content-bg;
  }
}

#site-name {
  margin: 2em 0;
  a {
    background: url(../images/themerocket-logo.svg) no-repeat top left;
    background-size: auto 120px;
    display: block;
    height: 120px;
    text-indent: -9999em;
    width: 120px;
  }
}

#page-title {
  margin-bottom: 0.5em;
}