#page-wrapper {
  background: beige;
}

#page {
  background: white;
}

/**
 *
 */

#page-title {
  margin-bottom: 1em;
}

#site-name {
  margin: 2em 0;
  a {
    background: url(../images/themerocket-logo.svg) no-repeat top left;
    background-size: auto 120px;
    display: block;
    height: 120px;
    text-indent: -9999em;
    width: 120px;
  }
}

#navigation,
#main-wrapper {
  background: white;
}

#navigation {
  > .section {
    background: $bg;
    position: relative;
  }
  .block-menu-block {
    > h2 {
      height: 3em;
      line-height: 3em;
      margin: 0 -10px;
      padding: 0 10px;
      &:hover {
        background: adjust-lightness($bg, -10%);
      }
      @media (min-width: $breakpoint_desktop) {
        @include hidden;
      }
    }
  }
}

nav.menu-name-main-menu > ul {
  @include vertical-menu;
  a {
    border-top: 1px solid adjust-lightness($bg, 6%);
    font-size: 18px;
    height: 3em;
    line-height: 3em;
    margin: 0 -10px;
    padding: 0 10px;
    @include single-transition(background-color, 0.3s, false, ease);
    &:hover,
    &:focus {
      background: adjust-lightness($bg, -10%);
      color: white;
      font-weight: 700;
    }
  }
  .nolink {
    cursor: default;
  }
  @media (min-width: $breakpoint-desktop) {
    @include horizontal-menu;
    > li {
      > a {
        border-top: none;
        margin: 0;
        padding: 0 1em;
        &.active-trail {
          background: adjust-lightness($bg, -10%);
          color: white;
          font-weight: 700;
        }
      }
    }
  }
}

#footer {
  > .section {
    background: $bg;
    padding: 20px 10px;
  }
}

.view-content {
  > .item-list {
    > ul {
      padding: 0;
    }
  }
}

/**
 * pager
 */
.item-list .pager {
  list-style: none;
  margin: 20px 0;
  padding: 0 0 20px 0;
  text-align: center;
  li {
    display: inline-block;
    margin: 0 0.25em;
    padding: 0;
    &.pager-current {
      padding: 2px;
    }
  }
  a {
    padding: 2px;
    text-decoration: none;
  }
  .pager-first,
  .pager-previous,
  .pager-next,
  .pager-last {
    a {
      @include button-link;
      //background: url(../images/pager_arrows.png) no-repeat;
      padding: 2px;
      //text-indent: -9999em;
      //vertical-align: -1px;
      //width: 9px;
    }
  }
  .pager-first {
    a {
      //background-position: 2px center;
      //width: 13px;
    }
  }
  .pager-previous {
    a {
      //background-position: -12px center;
    }
  }
  .pager-next {
    a {
      //background-position: -22px center;
    }
  }
  .pager-last  {
    a {
      //background-position: -32px center;
      //width: 13px;
    }
  }
}

/**
 * Main menu
 */
.primary_navigation {
  /*h2 {
    //background: $main-menu-bg url(../images/hamburger-menu.png) no-repeat right center;
    color: white;
    cursor: pointer;
    display: block;
    font-weight: 400;
    height: 53px;
    line-height: 53px;
    margin-bottom: 0;
    padding: 0 20px;
  }*/
  /*.block-menu-block {
    &.open {
      h2 {
        //background-color: $main-menu-active-bg;
      }
      > ul.menu {
        display: block;
        margin: 0 1px;
      }
    }
    > ul.menu {
      @include menu;
      display: none;
      a {
        //color: $main-menu-color;
        display: block;
        padding: 0 20px;
        text-decoration: none;
        white-space: nowrap;
      }
      li {
        margin: 1px 0 0;
        padding: 0;
      }
      > li {
        > a {
          //background: $main-menu-bg;
          display: block;
          font-size: 21px;
          font-weight: 300;
          height: 53px;
          line-height: 53px;
          text-decoration: none;
          @include transition(background-color 0.5s ease, color 0.5s ease);
          &:hover {
            //background-color: $main-menu-hover-bg;
          }
        }
        ul.menu {
          //background: $main-menu-bg;
          font-size: 16px;
          li {
            //background: $main-menu-bg;
            margin: 0;
          }
          a {
            border-top: 1px solid #80a6ae;
            height: 42px;
            line-height: 42px;
            padding: 0 30px;
            &:hover {
              //background: $main-menu-sub-hover-bg;
            }
          }
        }
      }
    }
  }*/
}
/*@media (min-width: $breakpoint_desktop) {
  .primary_navigation {
    h2 {
      display: none;
    }
    .block-menu-block {
      > ul.menu {
        @include horizontal-menu;
        display: block;
        margin: 0;
        position: relative;
        z-index: 999;
        > li {
          float: left;
          position: relative;
          > a {
            text-align: center;
          }
          &.active {
            > a {
              margin: -12px -1px 0;
              margin-top: -12px;
              padding: 12px 40px 0 39px;
              position: relative;
              z-index: 2;
              &:before,
              &:after {
                content: " ";
                display: block;
                position: absolute;
                top: 0;
              }
              &:before {
                height: 65px;
                left: -3px;
                width: 3px;
                z-index: 5;
              }
              &:after {
                height: 65px;
                right: -3px;
                width: 3px;
                z-index: 5;
              }
            }
          }
          ul.menu {
            background: transparent;
            left: -9999em;
            opacity: 0;
            position: absolute;
            top: 0;
            @include transition(opacity 0.2s ease);
            li {
              display: block;
              float: none;
              margin: 0;
              position: relative;
              z-index: 99;
              a {
                border-top: none;
                padding: 0 14px;
                text-align: left;
              }
              &.first {
                padding-top: 10px;
              }
            }
          }
          &:hover {
            ul.menu {
              left: 0;
              opacity: 1;
            }
          }
        }
      }
    }
  }
}*/