.webform-datepicker,
.webform-component-webform_time {
  select {
    width: 90px;
  }
}

/**
 * form elements
 */
input {
  font-size: 1em;
}
select,
input[type="text"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="file"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  border: 1px solid $silver-grey;
  padding: 0 10px;
  -webkit-appearance: none;
}
input[type="text"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"] {
  height: 30px;
  line-height: 28px;
  width: 100%;
}
input[type="search"] {
  -webkit-appearance: textfield;
  width: auto;
}
input[type="file"] {
  background: white;
  padding: 5px;
}

.webform-component-select {
  position: relative;
  &:after {
    background: white;
    bottom: 9px;
    content: " ";
    display: block;
    height: 21px;
    pointer-events: none;
    position: absolute;
    right: 33px;
    width: 15px;
    z-index: 3000;
  }
}
select {
  background: white url(../images/select-arrow.png) no-repeat right center;
  border-radius: 0;
  font-size: 16px;
  height: 33px;
  padding: 6px 32px 4px 10px;
  position: relative;
  width: 100%;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background: $form-button-bg;
  border: 1px solid $form-button-bg;
  cursor: pointer;
  height: 32px;
  line-height: 26px;
  margin: 0;
  padding: 0 10px;
  + input[type="button"],
  + input[type="reset"],
  + input[type="submit"] {
    margin-left: 1em;
  }
}
input[type="submit"] {
  background: $form-submit-bg;
  border-color: $form-submit-bg;
  color: white;
  @include single-transition(background-color, 0.3s, false, ease);
  &:hover,
  &:focus{
    background: $form-submit-bg-hover;
    border-color: $form-submit-bg-hover;
  }
  &:active {
    background: $form-submit-bg-active;
    border-color: $form-submit-bg-active;
  }

  &.field-add-more-submit,
  &#edit-preview {
    background: $form-button-bg;
    border: 1px solid $form-button-bg;
    margin-top: 1em;
    &:hover,
    &:focus{
      background: $form-button-bg-hover;
      border-color: $form-button-bg-hover;
    }
    &:active {
      background: $form-button-bg-active;
      border-color: $form-button-bg-active;
    }
  }
}
// Re-set default cursor for disabled elements
button[disabled],
input[disabled] {
  cursor: default;
}

html.js input.form-autocomplete {
  background: url(../images/throbber.gif) no-repeat 100% 17px;
}
html.js input.throbbing {
  background-position: 100% -29px;
}

textarea {
  padding: 6px 10px;
}
form .description {
  @include clearfix;
  font-size: 0.8em;
}
.webform-component-checkbox {
  .form-checkboxes {
    float: left;
    margin-right: 1em;
    margin-top: -2px;
  }
}
.form-item {
  margin-bottom: 1.5em;
  td > & {
    margin-bottom: 0;
  }
  > label {
    display: block;
    font-weight: 700;
    margin-bottom: 4px;
  }
  .description {
    font-size: 0.8em;
    margin-top: 4px;
  }
}
.views-exposed-widget > label {
  font-weight: 700;
}
.form-checkboxes,
.form-radios{
  .form-item {
    margin-bottom: 0.5em;
    margin-left: 2px;
  }
}
.form-type-checkbox,
.form-type-radio {
  > label {
    //color: $base-text-color;
    display: inline;
    font-size: 1em;
    font-weight: 400;
  }
}

.container-inline-date {
  > .form-item {
    margin: 0;
    label,
    .date-clear {
      display: inline;
    }
    .date-padding {
      padding: 0;
    }
  }
}

fieldset {
  margin-bottom: 1.5em;
  legend {
    background: rgba(255, 255, 255, 0.5);
    font-size: 1.3333em;
    font-weight: 900;
    padding: 5px 10px;
    a {
      color: adjust-lightness($text-color, 12%);
      text-decoration: none;
    }
  }
  .fieldset-wrapper {
    background: rgba(255, 255, 255, 0.5);
    padding: 10px;
  }
  &.collapsible {
    legend {
      a {
        &:before {
          content: '-';
          display: inline-block;
          padding-right: 8px;
          text-align: center;
          width: 16px;
        }
      }
    }
  }
  &.collapsed {
    legend {
      a {
        &:before {
          content: '+';
        }
      }
    }
    html.js & {
      border-bottom: 3px solid rgba(255, 255, 255, 0.5);
      min-height: 38px;
    }
    .description & {
      html.js & {
        border-bottom: 3px solid rgba(255, 255, 255, 0.5);
        min-height: 33px;
      }
    }
  }
}