/**
 * Views
 */
.views-row {
  margin-bottom: 20px;
}

.view-content {
  > .item-list {
    > ul {
      padding: 0;
    }
  }
}

/**
 * pager
 */
.item-list .pager {
  list-style: none;
  margin: 20px 0;
  padding: 0 0 20px 0;
  text-align: center;
  li {
    display: inline-block;
    margin: 0 0.25em;
    padding: 0;
    &.pager-current {
      padding: 2px;
    }
  }
  a {
    padding: 2px;
    text-decoration: none;
  }
  .pager-first,
  .pager-previous,
  .pager-next,
  .pager-last {
    a {
      @include button-link;
      //background: url(../images/pager_arrows.png) no-repeat;
      padding: 2px;
      //text-indent: -9999em;
      //vertical-align: -1px;
      //width: 9px;
    }
  }
  .pager-first {
    a {
      //background-position: 2px center;
      //width: 13px;
    }
  }
  .pager-previous {
    a {
      //background-position: -12px center;
    }
  }
  .pager-next {
    a {
      //background-position: -22px center;
    }
  }
  .pager-last  {
    a {
      //background-position: -32px center;
      //width: 13px;
    }
  }
}