$grandma-grey:    #eeeeef;
$silver-grey:     #d2d5d8;
$cloud-grey:      adjust-lightness($silver-grey, -20%);
$nineties-orange: #ff7704;
$night-blue:      #222a30;


$somekindof-yellow: #fde07f;

$alice-more-blue: adjust-lightness(aliceblue, -10%);



// general
$text-color: $night-blue;
$form-color: $night-blue;

$site-bg: white;
$header-bg: $night-blue;
$content-bg: $grandma-grey;

// links
$link-color: $night-blue;
$link-hover-color: $night-blue;

// forms
$form-submit-bg: $nineties-orange;
$form-submit-bg-hover: adjust-lightness($nineties-orange, -7%);
$form-submit-bg-active: adjust-lightness($nineties-orange, -14%);

$form-button-bg: $cloud-grey;
$form-button-bg-hover: adjust-lightness($cloud-grey, -7%);
$form-button-bg-active: adjust-lightness($cloud-grey, -14%);

// messages
$message-green: #c2f75f;
$message-yellow: #fff05d;
$message-red: #f7765f;

// quote
$quote-color: $nineties-orange;

// table
$table-bg: $nineties-orange;

// menu
$main-menu-hover-bg: $nineties-orange;
$main-menu-hover-text: white;
$main-menu-active-text: $nineties-orange;

// admin tabs
$admin-tab-bg: white;
$admin-tab-active-bg: $silver-grey;
$admin-tab-hover-bg:  $alice-more-blue;
