// breakpoints
$large: 960px;

$footer-height: 150px;
$footer-top-margin: 50px;

html,
body {
  height: 100%;
  margin: 0;
  position: relative;
}

#navigation {
}
#main-wrapper {
}
#navigation {
  margin: 0;
  .section {
    @include breakpoint($breakpoint-desktop) {
      padding: 0;
    }
  }
}
#footer {
  margin-top: 40px;
}

.section {
  padding: 0 10px;
  width: 100%;
  #content & {
    padding-bottom: 20px;
    padding-top: 20px;
  }
}

#page-wrapper {
  min-height: 100%;
}

#page {
  min-height: 100%;
  width: 100%;
  /*@include breakpoint($breakpoint-desktop) {
    margin: 0 auto;
    max-width: $breakpoint-desktop;
  }*/
  > #main-wrapper {
  }
}

#main {
  .block-system {
    padding: 0;
  }
  .panel-display {
    margin: 0;
    padding: 0;
    .panel-panel {
      @extend .clearfix;
      clear: both;
      width: 100%;
      > .inside {
        //background: beige;
      }
    }
    .panel-pane {
      margin-bottom: 40px;
    }
    .panel-separator {
      display: none;
    }
  }
}


@include breakpoint($breakpoint-desktop) {
  .section {
    margin: 0 auto;
    max-width: $breakpoint-desktop;
  }
  /*
  #footer {
    clear: both;
    margin-top: 20px;
    //margin-top: -($footer-height);
    //padding-bottom: 30px;
    position: relative;
    .section {
      //height: $footer-height;
      margin: 0 auto;
      max-width: $breakpoint-desktop;
      //padding: 0 30px;
    }
  }*/
}