// Clearfix
// --------
// For clearing floats like a boss h5bp.com/q
.clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: " ";
  }
  &:after {
    clear: both;
  }
}

@mixin element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

// hidden
@mixin hidden {
  position: absolute;
  left: -9999em;
}

.hidden {
  @include hidden;
}
@mixin show-hidden {
  position: static !important;
  left: auto !important;
}

// Menu
// -------------------------
@mixin menu {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    list-style: none;
    margin: 0;
  }
}

// Button style
// ------------------------
@mixin button-link {
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

// Vertical menu (mobile)
// -------------------------
@mixin vertical-menu {
  @include menu;
  li {
    display: block;
    a,
    .nolink {
      display: block;
      text-decoration: none;
    }
  }
  .lvl-2 {
    margin: 0 10px;
    padding-left: 0;
  }
}

// Horizontal menu
// -------------------------
@mixin horizontal-menu {
  @include menu;
  font-size: 0;
  li {
    display: inline-block;
    font-size: $base-font-size;
    list-style: none;
    margin: 0;
    padding: 0;
    a {

    }
  }
  > li {
    > a,
    .nolink {
      @include button-link;
    }
    &.expanded {
      position: relative;
    }
    &:hover {
      ul.menu {
        left: 0;
        z-index: 99;
      }
      a {
        white-space: nowrap;
      }
    }
  }
  .lvl-2 {
    @include hidden;
    margin: 0;
    li {
      display: block;
    }
  }
}